body {
  margin: 0;
  min-height: 100vh;

  background: #2C2B3D;
  color: #FFFFFF;
  font-family: 'JetBrains Mono', monospace;

}

.page {
  width: 1280px;
  margin: 0 auto;  
  padding-top: 70px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  gap: 65px;
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 28px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

main {
  margin-top: 100px;
  display: flex;
  align-items: first;
  justify-content: space-between;

}

h1 {
  font-size: 36px;
  line-height: 40px;
  text-align: center;

  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 span{
  color: #00BFA6;
  
  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section p {
  font-family: 'Open Sans', sans-serif;
  color: #C2C2C2;
  font-size: 16px;
  line-height: 28px;
  text-align: center;

  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

footer {
  margin: 160px auto 30px;
  text-align: center;

  font-size: 14px;
  line-height: 28px;
}

.line{
  width: 568px;
  border: 1px solid #00BFA6;
  height: 0px;
  margin: 0 auto 30px;
}

#padlock {
  position: fixed;
  bottom: 20px;
  left: 20px;
}